/* label {
  color: white !important;
} */

 .divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50;
  margin-left: 1rem;
  margin-right: 1rem;
}

.divider-custom .divider-custom-icon {
  color: #2c3e50;
  font-size: 2rem;
} 

.form-group {
  color: rgb(243, 183, 70);
}

p {
  font-size: larger;
  /* font-style: italic; */
}

.div-form {
  background-color: black;
  position: relative;
  color: white;
}

.div-form form::after {
  content: "";
  background: url(../../images/dogsrunning.avif);
  height: 702px;
  width: 100vw;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}

.form-addition {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: hsl(200,94.5%,14.3%, .75);
  width: 30rem;
  color: white;
  padding: 10px;
  border-style: none;
  padding-bottom: 3rem;
  box-shadow: 0 0 10px 0 #000000;
  z-index: 1;
}

.sign-up-btn {
  width: 90%;
  margin-left: 1.5vw;
}