/* Styling for login.hbs */
/* ================================================ */
/* ================================================ */
/* Styling for split menu look */
.splitMenu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 200px;
  }
/* 
  @media screen and (max-width: 500px) {
    .splitMenu-container {
      flex-direction: column;
      justify-content: space-evenly;
      padding: 200px;
    }
  } */

  .entire-background {
    background: url(../../images/manandhisdog.avif);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
  }
  
  
  
  /* ================================================ */
  /* ================================================ */
  /* Styling for Login container */
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: hsl(200,94.5%,14.3%, .75);
    width: 30rem;
    color: white;
    padding: 10px;
    padding-bottom: 3rem;
    box-shadow: 0 0 10px 0 #000000;
  }

  .log-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .form-content {
    margin: 5px;
    margin-bottom: 0px;
    width: 70%;
    margin-left: 4rem;
  }

  .input-content {
    height: 2.5rem;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0.5rem;
  }

  #login-submit {
    color: white;
    width: 70%;
    border-radius: 15px;
    background-color: rgba(45, 183, 251, 0.25);
    margin-left: 4rem;
    margin-top: 0.5rem;
    padding: 0.65rem;
    border-style: solid;
    border-color: hsl(0,0%,100%,.75);
    font-weight: bold;
  }
  #login-submit:hover {
    background-color: rgba(139, 216, 255, .85);
  }
  
  
  /* ================================================ */
  /* ================================================ */
  /* Styling for SignUp container */
  .signUp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(200,94.5%,14.3%, .75);
    align-items: center;
    border-radius: 20px;
    padding: 60px;
    color: white;
    box-shadow: 0 0 10px 0 #000000;
  }

  .sign-up-button {
    color: white;
    width: 20rem;
    border-radius: 15px;
    background-color: rgba(45, 183, 251, 0.25);
    margin-top: 4rem;
    padding: 0.65rem;
    border-style: solid;
    border-color: hsl(0,0%,100%,.75);
    font-weight: bold;
  }

.sign-up-button:hover {
    background-color: rgba(139, 216, 255, .85);
  }
 
  p {
    font-size: 25px;
    text-align: center;
  }

/* For loader */
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023047;
  z-index: 9999;
  top: 0;
}



.dog {
 width: 100px;
 height: 100px;
 z-index: 9999;
}
.dog:before {
content: '';
position: absolute;
width: 120%;
height: 120%;
right: -10%;
background: #8ecae6;
border-radius: 50%;
-webkit-transform: translateY(-30%) scale(1.5);
transform: translateY(-30%) scale(1.5);
}

.dog * {
 position: absolute;
}

.dog-body {
 top: -50%;
 -webkit-animation: dog-body 200ms ease-in-out infinite alternate;
         animation: dog-body 200ms ease-in-out infinite alternate;
}
.dog-body:before {
 content: '';
 position: absolute;
 bottom: 90%;
 right: 50%;
 width: 90%;
 height: 90%;
 border-top-left-radius: 100%;
 border-bottom-left-radius: 10%;
 border-top-right-radius: 10%;
 background: rgba(118,118,118, 0.233);
 -webkit-transform-origin: right bottom;
         transform-origin: right bottom;
 -webkit-animation: dog-tail-blur 200ms 33.3333333333ms ease-in-out infinite alternate both;
         animation: dog-tail-blur 200ms 33.3333333333ms ease-in-out infinite alternate both;
}
@-webkit-keyframes dog-tail-blur {
 from {
   -webkit-transform: rotate(0);
           transform: rotate(0);
   opacity: 0;
 }
 50% {
   opacity: 1;
 }
 to {
   -webkit-transform: rotate(90deg);
           transform: rotate(90deg);
   opacity: 0;
 }
}
@keyframes dog-tail-blur {
 from {
   -webkit-transform: rotate(0);
           transform: rotate(0);
   opacity: 0;
 }
 50% {
   opacity: 1;
 }
 to {
   -webkit-transform: rotate(90deg);
           transform: rotate(90deg);
   opacity: 0;
 }
}
@-webkit-keyframes dog-body {
 from {
   -webkit-transform: translateX(-10%);
           transform: translateX(-10%);
 }
 to {
   -webkit-transform: translateX(10%);
           transform: translateX(10%);
 }
}
@keyframes dog-body {
 from {
   -webkit-transform: translateX(-10%);
           transform: translateX(-10%);
 }
 to {
   -webkit-transform: translateX(10%);
           transform: translateX(10%);
 }
}

@-webkit-keyframes dog-head {
 from, to {
   -webkit-transform: rotate(45deg);
           transform: rotate(45deg);
 }
 33.3% {
   -webkit-transform: rotate(-45deg);
           transform: rotate(-45deg);
 }
 66.6% {
   -webkit-transform: rotate(0);
           transform: rotate(0);
 }
}
@keyframes dog-head {
 from, to {
   -webkit-transform: rotate(45deg);
           transform: rotate(45deg);
 }
 33.3% {
   -webkit-transform: rotate(-45deg);
           transform: rotate(-45deg);
 }
 66.6% {
   -webkit-transform: rotate(0);
           transform: rotate(0);
 }
}
.dog-torso {
 display: none;
 top: -20%;
 animation: dog-torso 200ms ease-in-out infinite alternate-reverse;
}
@-webkit-keyframes dog-torso {
 from {
   -webkit-transform: translateX(-5%);
           transform: translateX(-5%);
 }
 to {
   -webkit-transform: translateX(5%);
           transform: translateX(5%);
 }
}
@keyframes dog-torso {
 from {
   -webkit-transform: translateX(-5%);
           transform: translateX(-5%);
 }
 to {
   -webkit-transform: translateX(5%);
           transform: translateX(5%);
 }
}
.dog-eyes {
width: 60%;
top: 46%;
left: 20%;
z-index: 1;
}
.dog-eyes:before {
content: '';
height: 30px;
width: 30px;
border-radius: 50px;
position: absolute;
background: #e3a268;
top: -6px;
left: -10px;
z-index: 0;
box-shadow: inset -12px -8px 40px #edcda7;
border: 4px solid #976e3e;
border-left-width: 0;
border-bottom-width: 0;
/* border-top-width: 0; */
/* -webkit-transform: rotate(-5deg); */
transform: rotate(-45deg);

}

.dog-eye {
width: 15px;
height: 19px;
border-radius: 50%;
background: #343a40;
z-index: 1;
-webkit-animation: dog-eye 1800ms infinite;
animation: dog-eye 1800ms infinite;
}
@-webkit-keyframes dog-eye {
 from, to {
   -webkit-animation-timing-function: step-end;
           animation-timing-function: step-end;
   opacity: 1;
 }
 50%, 55% {
   -webkit-animation-timing-function: step-start;
           animation-timing-function: step-start;
   opacity: 0;
 }
}
@keyframes dog-eye {
 from, to {
   -webkit-animation-timing-function: step-end;
           animation-timing-function: step-end;
   opacity: 1;
 }
 50%, 55% {
   -webkit-animation-timing-function: step-start;
           animation-timing-function: step-start;
   opacity: 0;
 }
}
.dog-eye:first-child {
 left: 0;
}
.dog-eye:last-child {
 right: 0;
}

.dog-muzzle {
width: 70%;
left: 15%;
height: 40%;
border-bottom-left-radius: 100%;
border-bottom-right-radius: 100%;
background: #e9ab64;
bottom: -10%;
box-shadow: inset -12px -8px 40px rgb(255 255 255 / 15%);
}







.dog-muzzle:before, .dog-muzzle:after {
 content: '';
 position: absolute;
}

.dog-muzzle:before {
width: 6px;
height: 20px;
bottom: 0;
left: calc(50% - 3px);
background: rgba(84, 66, 88, 0.233);
}
.dog-muzzle:after {
background: #343a40;
width: 20px;
height: 15px;
bottom: 12px;
left: calc(50% - 10px);
border-bottom-left-radius: 60% 60%;
border-bottom-right-radius: 60% 60%;
border-top-left-radius: 50% 40%;
border-top-right-radius: 50% 40%;
}

.dog-tongue {
width: 40px;
height: 120%;
left: calc(50% - 20px);
z-index: -1;
-webkit-transform-origin: center top;
transform-origin: center top;
-webkit-animation: dog-tongue 1800ms -50ms ease-in-out infinite;
animation: dog-tongue 1800ms -50ms ease-in-out infinite;
}
@-webkit-keyframes dog-tongue {
 from, to {
   -webkit-transform: rotate(0);
           transform: rotate(0);
 }
 16.6666666667% {
   -webkit-transform: rotate(30deg);
           transform: rotate(30deg);
 }
 33.3333333333%, 66.6666666667% {
   -webkit-transform: rotate(0);
           transform: rotate(0);
 }
 50%, 83.3333333333% {
   -webkit-transform: rotate(-20deg);
           transform: rotate(-20deg);
 }
}
@keyframes dog-tongue {
 from, to {
   -webkit-transform: rotate(0);
           transform: rotate(0);
 }
 16.6666666667% {
   -webkit-transform: rotate(30deg);
           transform: rotate(30deg);
 }
 33.3333333333%, 66.6666666667% {
   -webkit-transform: rotate(0);
           transform: rotate(0);
 }
 50%, 83.3333333333% {
   -webkit-transform: rotate(-20deg);
           transform: rotate(-20deg);
 }
}
.dog-tongue:before {
content: '';
position: absolute;
width: 100%;
height: 100%;
border-radius: 40px;
background: #e85e809e;
}
@-webkit-keyframes dog-tongue-inner {
 from {
   -webkit-transform: translateY(5%);
           transform: translateY(5%);
 }
 to {
   -webkit-transform: translateY(22%);
           transform: translateY(22%);
 }
}
@keyframes dog-tongue-inner {
 from {
   -webkit-transform: translateY(5%);
           transform: translateY(5%);
 }
 to {
   -webkit-transform: translateY(22%);
           transform: translateY(22%);
 }
}
.dog-ears {
width: 50%;
top: 0%;
left: 28%;
filter: drop-shadow(2px 3px 4px rgba(0,0,0,0.233));
-webkit-animation: dog-ears 1800ms 100ms ease infinite;
animation: dog-ears 1800ms 100ms ease infinite;
}
@-webkit-keyframes dog-ears {
 42.3%, 71.6% {
   -webkit-transform: rotate(-5deg);
           transform: rotate(-5deg);
 }
 50.3%, 79.6% {
   -webkit-transform: rotate(5deg);
           transform: rotate(5deg);
 }
 5% {
   -webkit-transform: rotate(5deg);
           transform: rotate(5deg);
 }
 12% {
   -webkit-transform: rotate(-5%);
           transform: rotate(-5%);
 }
 from, 33.3%, 66%, to {
   -webkit-transform: rotate(0);
           transform: rotate(0);
 }
}
@keyframes dog-ears {
 42.3%, 71.6% {
   -webkit-transform: rotate(-5deg);
           transform: rotate(-5deg);
 }
 50.3%, 79.6% {
   -webkit-transform: rotate(5deg);
           transform: rotate(5deg);
 }
 5% {
   -webkit-transform: rotate(5deg);
           transform: rotate(5deg);
 }
 12% {
   -webkit-transform: rotate(-5%);
           transform: rotate(-5%);
 }
 from, 33.3%, 66%, to {
   -webkit-transform: rotate(0);
           transform: rotate(0);
 }
}
.dog-ear {
bottom: -10px;
height: 40px;
width: 50px;
background: #5e383b;
-webkit-animation-duration: 400ms;
animation-duration: 300ms;
-webkit-animation-direction: alternate;
animation-direction: alternate;
-webkit-animation-timing-function: ease-in-out;
animation-timing-function: ease-in-out;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}

.dog-ear:first-child {
border-bottom-left-radius: 90%;
border-top-right-radius: 10%;
right: 90%;
box-shadow: inset -15px 8px 0 1px #e9ab64;
-webkit-transform-origin: right bottom;
transform-origin: right bottom;
-webkit-transform: rotate(10deg);
transform: rotate(-50deg);
}
.dog-ear:last-child {
border-top-left-radius: 10%;
border-bottom-right-radius: 80%;
left: 92%;
/* top: 80%; */
box-shadow: inset 15px 8px 0 0 #e9ab64;
-webkit-transform-origin: left bottom;
transform-origin: left bottom;
-webkit-transform: rotate(-10deg);
transform: rotate(65deg);
}

.dog-tail {
  width: 22px;
  height: 15.2px;
  background: #e9ab64;
  bottom: 40%;
  border-radius: 11px;
  left: calc(50% - 11px);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.dog-tail .dog-tail {
 -webkit-animation: dog-tail-segment 200ms ease-in-out infinite alternate;
         animation: dog-tail-segment 200ms ease-in-out infinite alternate;
}
@-webkit-keyframes dog-tail-segment {
 from {
   -webkit-transform: rotate(-10deg);
           transform: rotate(-10deg);
 }
 to {
   -webkit-transform: rotate(10deg);
           transform: rotate(10deg);
 }
}
@keyframes dog-tail-segment {
 from {
   -webkit-transform: rotate(-10deg);
           transform: rotate(-10deg);
 }
 to {
   -webkit-transform: rotate(10deg);
           transform: rotate(10deg);
 }
}
.dog-body > .dog-tail {
 bottom: 90%;
 -webkit-animation: dog-tail 200ms ease-in-out infinite alternate;
         animation: dog-tail 200ms ease-in-out infinite alternate;
}
@-webkit-keyframes dog-tail {
 from {
   -webkit-transform: rotate(-45deg);
           transform: rotate(-45deg);
 }
 to {
   -webkit-transform: rotate(45deg);
           transform: rotate(45deg);
 }
}
@keyframes dog-tail {
 from {
   -webkit-transform: rotate(-45deg);
           transform: rotate(-45deg);
 }
 to {
   -webkit-transform: rotate(45deg);
           transform: rotate(45deg);
 }
}
.dog-body,
.dog-torso,
.dog-head {
border-radius: 50%;
background: #eaac64;
position: absolute;
height: 100%;
width: 100%;
filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.233)) brightness(100%);
}

.dog-body, .dog-torso {
  box-shadow: inset -12px -8px 40px #eaac64


}

.dog-head {
animation: dog-head 1800ms cubic-bezier(0.11, 0.79, 0, 0.99) infinite;
background: #e9ab64;
}


*, *:before, *:after {
 box-sizing: border-box;
 position: relative;
}


.dog-muzzle ,.dog-muzzle:before, .dog-eyes:before {
 /* background noise image */
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);

}