.main-component {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
}

.photo-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 10px;
    column-gap: 5px;
    row-gap: 5px;
    width: 500px;
    justify-content: center;
}

.gallery-images {
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    border-style: solid;
    margin: 20px;
}

.centered-gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.centered-gallery >button {
    width: 200px;
    margin: 20px;
    margin-top: 1px;
}

.major-div {
    display: flex;
    justify-content: center;
}

/* 
.two-components {
    display: flex;
    flex-direction: column;
} */
.button-size {
    width: 200px;
}

.upload-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section-page{
    display: flex;
    justify-content: center;
}
.upload-section >button {
    height:40px;
    width: 200px;
}

.button-center {
    display: flex;
    justify-content: center;
}

.wow-button {
    margin: 10px;
}

.preview-image {
    display: flex;
    justify-content: center;
}