/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://dogsbestlife.com/wp-content/uploads/2020/01/collie-puppy.jpeg");

  /* Set a specific height */
  height: 310px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.profile-pic {
  text-align: center;
  position: absolute;
  top: 68%;
  right: 80%;
  color: rgb(255, 251, 0);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
}

/* Masthead Profile Bio */
.details {
  padding: 7rem 0 1rem;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

.name {
  font-size: larger;
  font-weight: 600;
  line-height: 190%;
}

.custom-row {
  border-bottom: 2px solid black;
}

.edit {
  display: flex;
  justify-content: end;
  padding-right: 200px;
  padding-top: 50px;
}

.buyer-seller,
.about-me-section {
  font-size: medium;
}

/*Masthead Bio Buttons */
.button-box {
  padding: 8rem 3rem 0rem;
}

.box-btn {
  background-color: aliceblue;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  border-radius: 40px;
  text-decoration: none;
  color: black;
  box-shadow: 10px 20px 40px rgb(0 0 0 / 20%);
  border: none;
  /* font-size: large; */
}

.message {
  margin-top: 5px;
}

.message-btn {
  background-color: aliceblue;
  padding: 10px;
  margin-bottom: 1rem;
  width: 10%;
  border-radius: 40px;
  text-decoration: none;
  color: black;
  box-shadow: 0 20px 40px rgb(0 0 0 / 20%);
  border: none;
}

.message-text {
  text-decoration: none;
  color: black;
  font-size: medium;
}


.linktext {
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  font-size: medium;
}


/* Dog Grid */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 10px;
  column-gap: 50px;
  row-gap: 50px;
  width: 500px;
  justify-content: center;

}

.grid-item {
  object-fit: cover;
  height: 430px;
  width: 470px;
  box-shadow: 0 20px 40px rgb(0 0 0 / 10%);
  margin: 0.5rem;
  border-radius: 5px;
}

.grid-item:hover {
  transform: translateY(-10px);
  border: 1px;
  border-style: solid;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.wrapattack {
  display: flex;
  justify-content: center;
}

.titlewrapper {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: #023047;
  text-transform: uppercase;
  font-family: 'KulimPark-SemiBold';
}

/*Future Delete Button?*/

.deleteButton {
  background-color: red;
  height: fit-content;
}

.deleteButton:hover {

  background-color: rgb(255, 183, 0);
  height: fit-content;
}

/* MODAL */


/* The Modal (background) */
.modal {
  /* display: none;  */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {

  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 80%;
  /* Could be more or less, depending on screen size */
}


.modal-inner-wrapper {
  display: flex;

  flex-direction: column;
  align-items: center;

}

.modal-inner-image {

  border-style: solid;
  width: 200px;
  height: 200px;
  background-image: url('../../images/Rhodesian-Ridgeback-puppy.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}