.centerfold {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-box {
  width: 400px;
  height: 50px;
  border: solid #a7848433;
  border-bottom: 1px;
  margin-top: 10%;
  border-radius: 5px 5px 0% 0%;
  background-color: lightsteelblue;
}

.dog-name {
  display: flex;
  justify-content: center;
  top: 25%;
  text-transform: capitalize;
  font-family: 'SulphurPoint-Regular';
  color: #023047;
}

.box {
  
  width: 400px;
  height: 400px;
  background-size: cover;
  background-repeat: none;
  border: solid #a7848433;
  border-width: 2px 2px ;
  /* margin-top: 25px; */

}


.smallerbox{
  width: 400px;
  height: 75px;
  border: solid #a7848433;
  border-width: 0 2px 2px;
  margin-bottom: 25px;
  border-radius: 0% 0% 5px 5px;

}



.button-like {

  border: 2px solid #023047;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #023047;
  transition: all ease 0.4s;
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #cc4b37;
}

.liked {
  background-color: #cc4b37;
  border-color: #cc4b37;
  color: white;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 10px;
  column-gap: 50px;
  row-gap: 50px;
  width: 500px;
  justify-content: center;
  
  }

  .comment {
    left: 75px;
    top: -48px;
    width: 300px;
    height: 60px;

  }

  .button-move {
left: 10px;
top: 10px
  }

  

  /* The Modal (background) */
.modal {
    
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  
  background-color: #2c3e50;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 50%;
}


.modal-inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  
}

.modal-inner-dog {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-left: 15px;

}

.modal-inner-text {
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: #fefefe;
padding: 15px;
border: solid #caf0f8;
border-radius: 15px;
margin: 0px 10px 10px;
font-size: smaller;
line-height: 1 !important;
}

.dog-stat-name{
  font-size: x-large;
  font-weight: bold;
}

.owner-stat {
  text-decoration: none;
  border: solid 1px;
  border-radius: 15px;
  padding: 5px 10px;
  color: #2d3d50;
}

.owner-stat:hover {
  transition: 0.5sec;
  color: white;
  text-decoration: none;
}

.modal-inner-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #caf0f8, #caf0f8, #adcff2);
  box-shadow: 10px 10px 40px rgb(0 0 0 / 49%);
  border-radius: 15px;
  width: 100%;
  color: #2c3e50;
  font-family: 'KulimPark-SemiBold';
  font-size: medium;
  }

  .owner-hide {
    display: none;
  }

  .image-hide {
    display: none;
  }

.upload-btn {
background-color: aliceblue;
padding: 10px;
margin-bottom: 1rem;
width: 40%;
border-radius: 40px;
text-decoration: none;
color: black;
box-shadow: 10px 10px 40px rgb(0 0 0 / 10%);
border: none;
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1025px) {
  .modal-inner-contact {
    display: none;
    }

  .owner-hide {
    display: flex;
  }

  .image-hide {
    display: flex;
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    border: solid 1px aliceblue;
  }

  .modal-inner-text {
    align-items: center;
    font-size: small;
  }

  .modal-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-inner-dog {
    width: 150px;
    height: 150px;
}
}

@media (max-width: 480px) {
  .image-hide {
        display: flex;
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        margin-bottom: 10px;
        border: solid 1px aliceblue;
      }
    
    

    .modal-inner-text {
      padding: 5px;
      width: 95%;
      font-size: x-small;
    
}
}